.chat-item {
  border-width: 2px 0px;
  border-style: solid;
  border-color: #000000;
  border-radius: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_desc {
    max-width: 200px;
    overflow: hidden;
  }

  &_img {
    width: 104px;
    height: 104px;
    border-radius: 50px;
    margin-right: 25px;
  }

  &_msg {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }

  &_time {
    padding: 0px 0px 3px;
    border-bottom: 1px solid #000000;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
  }

  &_notification {
    border: 1px solid #000000;
    filter: drop-shadow(2.25px 2.25px 2.25px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    padding: 5px 10px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
