.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;

  &_chats {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 1px solid black;

  }
}
