.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &_user {
    display: flex;
    align-items: center;
  }

  &_control-chat-users {
    display: none;

  }

  &_avatar {
    margin-right: 30px;
  }

  background: #989898;

}
